{% extends "layout.html" %}
{% block content %}

<!-- Free A.I section-->
<div id="container" class=" h-screen flex flex-row items-center justify-around">
    <!--left-->
    <div id="left">
        <h3  class="text-3xl font-bold text-[#FFFFFFB3] py-5">Contact Us</h3>
        <h1  class="text-5xl font-bold text-[#FFFFFFB3] py-5">let's talk about your doubt</h1>
        <p class="text-[#FFFFFFB3] py-5">Drop your doubt through the form below and we will get back to you</p>
        <div id="form">
            <form action="/contactus" method="post"  class="space-y-6 text-[#FFFFFFB3] py-5">
                <div class="relative">
                    <div class="absolute top-1 left-1   rounded-full p-2 flex items-center justify-center text-blue-300">
                     <i class="fa-solid fa-signature"></i>
                    </div>
                    <input type="text" placeholder="Name" name = "name" class="w-80 text-black  py-2 px-12 rounded-full">
                </div>
                <div class="relative">
                    <div class="absolute top-1 left-1   rounded-full p-2 flex items-center justify-center text-blue-300">
                        <i class="fa-solid fa-envelope-open"></i>
                    </div>
                    <input type="email" name="email" placeholder="Email Adress" class="w-80  text-black py-2 px-12 rounded-full  ">
                </div>
                <div  class="relative">
                    <div class="absolute top-1 left-1   rounded-full p-2 flex items-center justify-center text-blue-300">
                        <i class="fa-solid fa-signature"></i> 
                    </div>
                    <input type="text" placeholder="your doubt" name="message" class="w-80 text-black   py-2 px-12 rounded-full ">
                </div>
                <button  class="bg-gradient-to-r from-blue-400 to-cyan-200 w-80 font-semibold rounded-full py-2">
                    Submit Now
                </button>
            </form>
            <div class="text-[#FF0000]">{% with messages = get_flashed_messages() %}
                {% if messages %}
                <span id="register">{{ messages[0] }}</span>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <!--right-->
    <div id="right" class="m-0">
        <div id="adress">
            <h1  class="text-5xl font-bold text-[#FFFFFFB3] py-5">Our Adress</h1>
            <address class="text-[#FFFFFFB3] text-2xl">Incubation Centre, IIT Patna, Bihta, Bihar 801103</address>
         </div>
         <h1  class="text-5xl font-bold text-[#FFFFFFB3] py-5">Our Social</h1>
         <div id="socialmedia">
            <i class="fa-brands fa-facebook  text-[#FFFFFFB3] hover:cursor-pointer mx-2">
                <a href=""></a>
            </i>
            <i class="fa-brands fa-instagram  text-[#FFFFFFB3] hover:cursor-pointer mx-2">
                <a href=""></a>
            </i>
            <i class="fa-brands fa-twitter text-[#FFFFFFB3] hover:cursor-pointer mx-2">
                <a href=""></a>
            </i>
         </div>

    </div>
</div>

{% endblock %}