{% extends "layoutai.html" %}
{% block ai_uses %}

<div id="container1">
  <div id="container2" class="flex flex-row items-center justify-around">
    <!-- Left Column -->
    <div id="left">
      <div>
        <h2 class="text-5xl py-5 text-center font-bold text-[#FFFFFFB3]">Artificial intelligence (AI) can help manufacturing in many ways, including:</h2>
        <ol class="mx-10">
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Predictive maintenance<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can predict equipment failures by analyzing data from various sources like vibrations and thermal imaging, allowing manufacturers to plan maintenance proactively.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Supply chain optimization<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI helps optimize inventory management, logistics, and demand forecasting through data analysis, enhancing efficiency and reducing costs.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Production planning<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI analyzes historical production data to improve production planning, minimizing waste and maximizing efficiency in manufacturing processes.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Quality control<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI-powered computer vision ensures product quality by detecting defects quickly and accurately, enhancing safety and reliability.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Robotics<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI enhances robotics and automation systems to perform complex tasks efficiently and collaboratively, operating continuously without fatigue.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Order management<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI improves order management systems by speeding up decision-making and enhancing customer service effectiveness.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Generative design<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI-driven generative design mimics engineers' design processes, enabling innovative and optimized product designs.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <!--right-->
    <div id="right">
      <img src="{{ url_for('static', filename='images/AI-for-manufacturing.png') }}" alt="" width="600px" class="rounded-lg hidden lg:flex w-fit">
    </div>
  </div>
</div>

{% endblock %}
