{% extends "layoutai.html" %}
{% block ai_uses %}

<div id="container1">
  <div id="container2" class="flex flex-row items-center justify-around">
    <!-- Left Column -->
    <div id="left">
      <div>
        <h2 class="text-5xl py-5 text-center font-bold text-[#FFFFFFB3]">Artificial intelligence (AI) can help retailers in many ways, including:</h2>
        <ol class="mx-10">
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Customer experience<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI enhances customer service through personalized interactions using chatbots and in-store kiosks. It also optimizes in-store displays based on sales data analysis.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Marketing<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI maximizes marketing campaign effectiveness by analyzing customer interactions, optimizing pricing strategies, and using computer vision for targeted promotions.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Inventory management<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI streamlines inventory management, reduces shrinkage, and enhances decision-making efficiency for store associates.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Demand forecasting and assortment planning<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI helps retailers forecast demand accurately and plan assortments to meet customer preferences, improving inventory turnover and customer satisfaction.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Loss prevention<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI assists in preventing losses through advanced analytics and monitoring, minimizing risks related to theft and operational errors.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Other applications<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can generate product descriptions and marketing content using generative AI, enable visual search for customers, and innovate various retail processes.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <!--right-->
    <div id="right">
      <img src="{{ url_for('static', filename='images/retail.jpeg') }}" alt="" width="800px" class="rounded-lg hidden lg:flex w-fit">
    </div>
  </div>
</div>

{% endblock %}
