{% extends "layoutai.html" %}
{% block ai_uses %}

<div id="container1">
  <div id="container2" class="flex flex-row items-center justify-around">
    <!-- Left Column -->
    <div id="left">
      <div>
        <h2 class="text-5xl py-5 text-center font-bold text-[#FFFFFFB3]">Artificial intelligence (AI) can help in sports in many ways, including:</h2>
        <ol class="mx-10">
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Data analysis<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI algorithms can analyze player statistics, movements, and game data to identify strengths, weaknesses, and develop strategies in real-time.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Injury prevention<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can track player biomechanics to prevent injuries and predict potential risks based on historical and real-time data.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Game scenario simulation<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can simulate game scenarios to aid in strategic planning and tactical decision-making.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Officiating<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can assist officials in making accurate decisions by analyzing visual data and probabilities.
            </p>
          </li>
          <li class="text-3xl font-bold text-[#FFFFFFB3]">
            Sports broadcasting<br>
            <p class="text-[#FFFFFFB3] py-3 text-xl">
              AI can enhance sports broadcasting by curating personalized content and interactive experiences for viewers.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <!--right-->
    <div id="right">
      <img src="{{ url_for('static', filename='images/ai-spotrs.jpeg') }}" alt="" width="600px" class="rounded-lg hidden lg:flex w-fit">
    </div>
  </div>
</div>

{% endblock %}
