<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Integrated AI</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- This is Header Area -->
    <div id="wrapper"
        class="overflow-x-hidden relative w-full bg-gradient-to-l from-[#F28383] from-10% via-[#9D6CD2] via-30% to-[#481EDC] to-90% h-screen">
        <header class="">
            <nav class="">
                <div class="relative flex mx-auto w-full items-center justify-between">
                    <!--logo-->
                    <a href="/home" class="m-6 cursor-pointer flex flex-row space-x-3">
                        <h1 class="text-[#FFFFFFB3] font-bold text-3xl">INTEGRATED</h1>
                        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Integrate A.I"
                            class="w-[40px]">
                    </a>
                    <div class="relative flex flex-row items-center justify-between space-x-10 px-10">
                        <button class="px-4 py-2 font-mullish text-white
                                border-white border rounded-md text-sm hover:text-slate-700 transition-all duration-200 
                                font-bold">
                            <a href="/signup"> Sin up</a>
                        </button>
                        <button class="px-4 py-2 font-mullish text-white
                                border-white border rounded-md text-sm hover:text-slate-700 transition-all duration-200 
                                font-bold">
                            <a href="/login">Log in </a>
                        </button>
                    </div>
                    
                </div>
            </nav>
        </header>
        <div id="container" class="relative flex flex-row items-center justify-center lg:space-x-20 mx-auto py-10">
            <!--left-->
            <div id="left" class="w-[80%] lg:w-[50%]">
                <h1 class=" text-5xl lg:text-8xl text-[#FFFFFFB3] ">Integrated A.I</h1>
                <h2 class="text-xl lg:text-3xl text-[#FFFFFFB3] py-5"> Merging Artificial Intelligence for ease and Excellence</h2>
                <p class=" lg:text-xl text-[#FFFFFFB3] py-3 lg:py-5">Welcome to Integrated A.I, your one-stop destination for all
                    things artificial intelligence! At Intergrated A.I,
                    we've curated a comprehensive collection of the best AI websites and resources available online,
                    all in one convenient place. Whether you're a seasoned AI professional, a curious student, or
                    someone just beginning to explore the fascinating world of artificial intelligence,
                    our platform provides easy access to the latest A.i websites.
                    Stay updated with the latest advancements, discover innovative AI
                    applications.Join us at Integrated A.I and immerse yourself in the future of technology!
                </p>

                <div class="py-10">
                    <a href="/signup">
                        <button type="submit"
                            class="bg-gradient-to-r from-blue-400 to-cyan-200 w-80 font-semibold rounded-full py-2">
                            Start Journey
                        </button>
                    </a>
                </div>
            </div>
            <!--right-->
            <div id="right">
                <img src="{{ url_for('static', filename='images/application-of-ai.gif') }} " alt="" class="rounded-full hidden md:flex lg:flex">
            </div>
        </div>




        <!-- This is Footer Area -->
        <footer>
            <div id="footer" class="bg-[#00000050]">
                <div class="relative text-center text-[#FFFFFFB3] space-x-10  text-xl py-5">
                    <a href="/home">Home</a>
                    <a href="/contactus">Contact Us</a>
                    <a href="/about">About Us</a>
                </div>
                <div class="relative text-center text-[#FFFFFFB3] py-5 text-xl">
                    <p>Copyright © 2024 <a href="/" class="text-blue-600">Integrated A.I Pvt. Ltd.</a> | Theme
                        Designed By
                        Sandeep Kumar
                    </p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>